body {
  min-height: 100dvh;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0; /* Optional: Removes default indentation */
  margin: 0;  /* Optional: Removes default margin */
}

ul li:hover {
  cursor: pointer;
  background-color: #f0f0f0;
}
.container{
  max-width: 900px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr auto;
  border-color:  red;
  gap:1em;
  margin: 10px auto;
  align-items: center;
}

.item{
  grid-row:2/3;
  font-size: 20ox;
}

.item-ai-srch-tbl{
  grid-row:3/4;
  grid-column: 2/3;
  max-height: 400px;
  overflow: auto;
}

.item-ai-dtl-tbl{
  grid-row:3/4;
  grid-column: 3/4;
  max-height: 400px;
  overflow: auto;
}

.item-nav{
  grid-row:1/2;
  grid-column:1/2;
  font-size: 20ox;
  border-right: 1px solid black;
}

.item:nth-of-type(5){ 
  height: 500px;
  grid-column: 1/3;
  overflow-y: auto;  
  border: 1px solid black;
  padding: 10px;
}

.i-container{ 
  display: grid;
  grid-template-columns: 0.5fr 3fr 1.5fr;
  grid-template-rows: 1fr;
  border-color:  red;
  gap:1em;
  margin: 10px auto;
  align-items: center;
}

.i-item-1{
  font-size: 20ox;
  grid-column:2/3
}

.i-item2{
  font-size: 20ox;
  grid-column:3/4
}